
/*
Syages©®
@author : inthragith;
@version : 1.0;
@date : 10/10/2020;
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans Pro",sans-serif;
    color:white;
    font-size:19px;
    letter-spacing: 1px;
}

.wrapper .nav_bar #logo{
    /*image */
    width:102px;
    height:33px;
    margin: 12px;
}

.wrapper .nav_bar #btn-menu{
    height:50px;
    width: 50px;
    border-radius:10px;
    margin-right: 12px;
    background-color:rgba(18,18,23,0.8);

}

.wrapper .body .melbanner #btn-menu1{
    height:50px;
    width: 50px;
    border-radius:10px;
    background-color:rgba(0,0,0,0.0);


}

.wrapper .body .melbanner #btn-menu1.okmenu{
    height:50px;
    width: 50px;
    border-radius:10px;
    background-color:rgba(0,0,0,0.0);
    display:none;

}

body{
    background-color: rgba(25,50,75,1);
    display:inline-flex;
    overflow-y: scroll;
    overflow-x:visible;
    width:100%;
}

.wrapper{
    display:flex;
    overflow: hidden;
    position:relative;
    width:100%;
}

.wrapper .nav_bar{
    position:fixed;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content:space-between;
    display:none;
}
/*IMPORTANT TOGGLE*/
.wrapper .nav_bar.okmenu{
    position:fixed;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content:space-between;
}

.wrapper .nav_bar #menu{
    width:50px;
    height:50px;
    padding-right:4px;
    padding-bottom: 6px;
}

.wrapper .body #menu{
    width:50px;
    height:50px;
    padding-right:4px;
    padding-bottom: 6px;
}

.wrapper .body{
    height: 100%;
    width:100%;
    background-color: black;
    padding-left: 12px;
    padding-right:12px;
    display: flex;
    flex-direction: column;
}


/*IMPORTANT TOGGLE*/
.wrapper .body.yesmenu{
    height: 100%;
    margin-left: 250px;
    padding-left: 12px;
    padding-right:12px;
}

footer{
  background-color: rgba(105,105,105,0.3);
}
footer ul{
    height: auto;
    display: flex;
    flex-direction: column;
}

footer ul li{
    height: auto;
    padding:12px;
    border : 1px solid white;
    text-align: center;
}

footer ul li:hover{
    background-color: rgba(25,50,75,0.6);
}
