body, .body, .wrapper{
    width:100%;
}
.wrapper{
    width:100%;
}

.contenu a{
    color : #3B59CA;
    font-weight: bold;
}
.tab {
    width:100%;
    
}
.tab table{
    width:85%;
    border-collapse : collapse;
    text-align: center;
    padding:2px;
}
.contenu{
    padding:1em;
}
h3{
    padding:1em 0em;
    font-size:1em;
}
#wrapper2{
    padding-top:1em;
    display:flex;
}
#container_wrapper2{
    width:50%;
}
#chart, #myChart{
    width:100%;
    height:100%;
    margin-right:5em;
}
#chart{
    width:50%;
}
.tab table{
    width: 95%;
}
.tab table td{
    padding:0.2em;
}

h3 form{
    display:inline;
}


.body #body .contenu h2 .form_inline{
    display:inline;
}

h2{
    font-size:1.3em;
}