/***************** Table historique des eval crée ***********************/

.wrapper .body .tabeval{
    display: flex;
    overflow: hidden;
    margin-left: 300px; 
}

.wrapper .body .tabeval table td{
    text-align: center;
}

.wrapper .body .tabeval table{
    border-collapse: collapse ;
}


.wrapper .body .tabeval table tr,td,th{
    border:2px solid rgba(58, 58, 211, 0.747);
}

.wrapper .body .tabeval table tr:hover{
    background-color: rgb(1, 238, 255);
    color:black;
}

.wrapper .body .tabeval table th{
    background-color:rgba(100,100,255,0.6);
}

.wrapper .body .tabeval table td,tr,th{padding:10px;}

.wrapper .body .tabeval tab tr{
    margin: auto;
}

/************************************ Formulaire pour créer une éval ****************************************/


.wrapper .body .tabeval .eval{
    margin-left: 70px;
    width: 16%;
    height: min-content;
    border: 1px solid white;
    text-align: center;
    border-radius: 2px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .body .tabeval .eval h4{
    width:100%;
    background-color:rgba(100,100,255,0.8); 
    padding: 10px;
    border:2px solid white;
}

.wrapper .body .tabeval .eval form{
    padding:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wrapper .body .tabeval .eval input, .wrapper .body .tabeval .eval select{
    background-color: rgb(71, 68, 68);
    margin: 05px;
    display: inline-block;
    flex-direction:row;
    width:70%;
}
.wrapper .body .tabeval .eval select{
    margin-left:5px;
    border:1px solid white;
    border-radius: 0px;
}
.wrapper .body .tabeval .eval p #submit{
    font-size: 16px;
    margin: 2px;
    border:1px solid white;
    border-radius:2px;
    background-color :rgb(68, 68, 68);
}
.wrapper .body .tabeval .eval p #submit:hover{
    background-color: rgb(1, 238, 255);
    color:black;
}

.wrapper .body .tabeval .eval p #button{
    font-size: 16px;
    margin: 2px;
    border:1px solid white;
    border-radius:2px;
    background-color :rgb(68, 68, 68);
}
.wrapper .body .tabeval .eval p #button:hover{
    background-color: rgb(1, 238, 255);
    color:black;
}

h2{
    text-align: center;
    margin-left: 50px;
    color: white;
}

.front{
    color:white;
}

.btn_submit{
   background-color: #031858;
   border: 1px solid white;
}